@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Resets */
*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

html{
    scroll-behavior: smooth;
}

iframe{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Navigation Bar */
.navbar{
    height: 70px;
    background-color: #fff;
    z-index: 2;
}

.navbar ul{
    display: flex;
    margin-bottom: 0;
}

.navbar a{
    font-weight: 400;
    font-size: 20px;
    color: #707070;
    padding: 0 20px;
    margin: 0 5px;
}

.navbar a:hover{
    text-decoration: underline;
    color: #FF0093;
}

.navbar .flex{
    justify-content: space-between;
    overflow: hidden;
}

/*  Showcase Section */

#down{
    margin-top: 70px;
}

.showcase-text{
    color: white;
    text-align: center;
    padding-top: 230px;
    font-size: 80px;
    width: 80%;
    margin:auto;
}

.showcase-text strong{
    color: var(--pink);
}
/* Featured Video */

.content-container .flex{
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    align-content: space-evenly;
    padding: 0 10px;
    max-width: 40%;
    height: 200px;
}

/* Subscription Tiers */

.tier-head{
    text-align: center;
    margin: auto;
    width: 380px;
    margin-top: 80px;
}

.tier-block{
    /* border: 5px solid purple; */
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 60px;
}

.tier-cube{
    height: 350px;
    padding-top: 115px;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px;
    text-align: center;
    /* border: 5px solid black; */
}

.tier-cube i{
    /* border: solid 1px red; */
    margin: 100px;
    color: #707070;
}

/* Newsletter Section */

.news-container .flex{
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    align-content: space-evenly;
    padding: 0 10px;
    max-width: 40%;
    height: 200px;
}

.form-control{
    width: 100%;
    margin: 10px 0;
    padding: 5px 5px;
    font-size: 16px;
}

.submit-btn{
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: var(--pink);
    border: none;
    border-radius: 5px;
}

/* Footer Section */

.mainfooter{
    height: 70px;
    background-color: #707070;
}

.mainfooter ul{
    display: flex;
    margin-bottom: 0;
}

.mainfooter a{
    font-weight: 400px;
    color: white;
    padding: 0 20px;
    margin: 0 5px;
}

@media(min-width: 768px) and (max-width: 1300px){
    /* Showcase Section */
    .showcase-text{
        font-size: 60px;
        padding-top: 180px;
    }

    .content-container{
        flex-direction: column;
        height: 1000px;
    }

    .content-container .flex{
        max-width: 90%;
    }

    .navbar a:hover{
        text-decoration: none;
        color: #707070;
    }

    .card:hover{
        transform: none;
    }

    .news-container{
        flex-direction: column;
    }

    .news-container .flex{
        max-width: 90%;
    }

    .form-container{
        width: 90%;
    }
}