@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Resets */
*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar{
    height: 70px;
    background-color: #fff;
    z-index: 2;
}

.navbar ul{
    display: flex;
    margin-bottom: 0;
}

.navbar a{
    font-weight: 400;
    font-size: 20px;
    color: #707070;
    padding: 0 20px;
    margin: 0 5px;
}

.navbar a:hover{
    text-decoration: underline;
    color: #FF0093;
}

.navbar .flex{
    justify-content: space-between;
    overflow: hidden;
}

/* Showcase Section */

#down{
    margin-top: 70px;
}

.content-container .flex{
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: center;
    align-content: space-evenly;
    padding: 0 10px;
    max-width: 40%;
    height: 200px;
}

/* Subscription Tiers */

.tier-block{
    display: flex;
    height: 300px;
    max-width: 25%;
    padding: 0 45px;
    text-align: center;
    align-items: center;
}