/* Custom Font Sizing */

p{
    font-size: 16px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.content-container{
    height: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid blue;
}

.tier-container{
    height: 600px;
    border: 5px solid blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pushdown{
    margin-top: 150px;
}